In [69]:
import pandas as pd
import numpy as np
from chefboost.training import Training
from sklearn import datasets
df = pd.read_csv("wine_dataset.csv")
df.rename(columns={"type":"Decision"},inplace=True)
config = {"algorithm":"ID3"}
gains = Training.findGains(df,config)
print(gains)
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

{'gains': {'citric acid': 0.11644331159277607, 'residual sugar': 0.23005216511474283, 'pH': 0.0964537780661524, 'sulphates': 0.17530932492038187, 'alcohol': 0.00873819106050372}, 'entropy': 1.0}

In [90]:
y = pd.DataFrame({'type':[1,0,0,0,0,1,1,1,0,0]})
column = y.keys()[-1]
print(y[column].iloc[0])

1

In [71]:
X = pd.DataFrame({"data":[0,0,0,0],"type":["a","B","a","a"]})
y = pd.DataFrame({"data":[1,2,3,4]})
data_is_equal = True
for key in X.keys():
    if len(X[key].unique()) == 1:
        continue
    else:
        data_is_equal = False
print(data_is_equal)

False

In [72]:
#y = [0,0,0,0,0,0,0,0,0,0]
#y = [1,1,1,1,1,1,1,1,1,1]
y = [0,1,1,1,1,0]
if len(set(y)) == 1:
    print(y[0])

In [73]:
class Node():
        def __init__(self,dec_key,dec_val):
            self.dec_key = dec_key
            self.dec_val = dec_val
        def right(self,next):
            self.right_branch = next
        def left(self,next):
            self.left_branch = next
        def set_prev(self,prev):
             self.prev = prev
        pass
class Leaf():
    def __init__(self,val):
        self.val = val
        pass
    def set_prev(self,prev):
         self.prev = prev

In [74]:
def calculate_data_entropy(y):
    data_entropy = 0
    column = y.keys()[-1]
    for label in y[column].unique():
        label_prob = (y[column].value_counts()[label])/len(y)
        data_entropy -= (label_prob) * np.log2(label_prob)
    return data_entropy

In [75]:
def impurity(X,y,impurity_measure):
    impurity_list = []
    for key in X.keys():
        split = np.mean(X[key])
        X_split = X[key] < split
        impurity = 0
        for value in X_split.unique():
            prob_X = X_split.value_counts()[value]/len(X_split)
            if impurity_measure == 'gini':
                impurity += prob_X
            column = y.keys()[-1]
            for label in y[column].unique():
                try:
                    prob_y_cond = (((X_split == value)&(y[column] == label)).value_counts()[True]/len(X_split))/prob_X
                except:
                    impurity_list.append(0)
                    continue
                if impurity_measure == 'entropy':
                    impurity -= prob_X * prob_y_cond * np.log2(prob_y_cond)
                elif impurity_measure == 'gini':
                    impurity -= prob_X * (prob_y_cond**2)
        impurity_list.append(impurity)
    impurity_list = np.array(impurity_list)
    print(impurity_list)

In [ ]:
df = pd.read_csv("wine_dataset.csv")
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

impurity(X,y,'gini')

In [76]:
def information_gain(X,y):
    #calculate entropy of X data set
    data_entropy = calculate_data_entropy(y)
    #calculate conditional entropy given a split data for each predictor
    cond_entropy_array = calculate_conditional_entropy(X,y)
    if cond_entropy_array.all() == 0:
        return Leaf(y[y.keys()[-1]].value_counts()[0])
    #difference in data set entropy and conditional entropies gives us information gain of each split
    information_gain = data_entropy - cond_entropy_array
    print(information_gain)
    return np.argmax(information_gain)

In [77]:
def learn(X,y,prev = None,impurity_measure = 'entropy'):
    print(X.info())
    print(y)
    #check if all labels are the same; return leaf of that value if they are
    column = y.keys()[-1]
    if len(y[column].unique()) == 1:
        branch = Leaf(y[column].iloc[0])
        branch.set_prev(prev)
        return branch
    #check if all data values are the same and return most common label if true
    data_is_equal = True
    for key in X.keys():
        if len(X[key].unique()) == 1:
            continue
        else:
            data_is_equal = False
    if data_is_equal:
        branch = Leaf(y[column].value_counts()[0])
        branch.set_prev(prev)
        return branch
    
    #find split with most information gain and split data to left and right branches
    else:
        split_index = information_gain(X,y)
        if isinstance(split_index,Leaf):
            split_index.set_prev(prev)
            return split_index
        split_key = X.keys()[split_index]
        split_value = np.mean(X[split_key])
        branch = Node(split_key,split_value)
        branch.set_prev(prev)
        branch.right = learn(X[X[split_key] < split_value],y[X[split_key] < split_value])
        branch.left = learn(X[X[split_key] >= split_value],y[X[split_key] >= split_value])
        return branch

In [78]:
df = pd.read_csv("wine_dataset.csv")
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

tree = learn(X,y)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     3198 non-null   float64
 1   residual sugar  3198 non-null   float64
 2   pH              3198 non-null   float64
 3   sulphates       3198 non-null   float64
 4   alcohol         3198 non-null   float64
dtypes: float64(5)
memory usage: 125.0 KB
None
      type
0        1
1        1
2        1
3        0
4        1
...    ...
3193     0
3194     0
3195     1
3196     0
3197     0

[3198 rows x 1 columns]
[0.00917571 0.23005217 0.09645378 0.17530932 0.00128067]

<class 'pandas.core.frame.DataFrame'>
Index: 2202 entries, 0 to 3195
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     2202 non-null   float64
 1   residual sugar  2202 non-null   float64
 2   pH              2202 non-null   float64
 3   sulphates       2202 non-null   float64
 4   alcohol         2202 non-null   float64
dtypes: float64(5)
memory usage: 103.2 KB
None
      type
0        1
1        1
2        1
4        1
5        1
...    ...
3187     0
3189     1
3191     0
3193     0
3195     1

[2202 rows x 1 columns]
[0.03169458 0.03175836 0.05321002 0.09521774 0.03077982]
<class 'pandas.core.frame.DataFrame'>
Index: 1260 entries, 0 to 3193
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     1260 non-null   float64
 1   residual sugar  1260 non-null   float64
 2   pH              1260 non-null   float64
 3   sulphates       1260 non-null   float64
 4   alcohol         1260 non-null   float64
dtypes: float64(5)
memory usage: 59.1 KB
None
      type
0        1
2        1
6        0
8        0
9        1
...    ...
3184     1
3186     0
3187     0
3191     0
3193     0

[1260 rows x 1 columns]
[0.15503776 0.04772786 0.08027581 0.15208084 0.07867978]
<class 'pandas.core.frame.DataFrame'>
Index: 572 entries, 0 to 3191
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     572 non-null    float64
 1   residual sugar  572 non-null    float64
 2   pH              572 non-null    float64
 3   sulphates       572 non-null    float64
 4   alcohol         572 non-null    float64
dtypes: float64(5)
memory usage: 26.8 KB
None
      type
0        1
6        0
9        1
12       1
13       0
...    ...
3152     1
3163     1
3184     1
3186     0
3191     0

[572 rows x 1 columns]
[0.0830071  0.01320773 0.04973226 0.10351117 0.02209945]
<class 'pandas.core.frame.DataFrame'>
Index: 223 entries, 6 to 3191
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     223 non-null    float64
 1   residual sugar  223 non-null    float64
 2   pH              223 non-null    float64
 3   sulphates       223 non-null    float64
 4   alcohol         223 non-null    float64
dtypes: float64(5)
memory usage: 10.5 KB
None
      type
6        0
21       1
32       1
42       0
43       0
...    ...
3112     1
3116     0
3119     1
3152     1
3191     0

[223 rows x 1 columns]
[0.11542524 0.01740288 0.07708641 0.16184166 0.03503904]
<class 'pandas.core.frame.DataFrame'>
Index: 88 entries, 6 to 3152
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     88 non-null     float64
 1   residual sugar  88 non-null     float64
 2   pH              88 non-null     float64
 3   sulphates       88 non-null     float64
 4   alcohol         88 non-null     float64
dtypes: float64(5)
memory usage: 4.1 KB
None
      type
6        0
42       0
43       0
120      0
133      1
...    ...
3085     0
3105     1
3112     1
3116     0
3152     1

[88 rows x 1 columns]
[0.04414567 0.01522877 0.0255995  0.05834052 0.01586764]
<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 42 to 3116
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     34 non-null     float64
 1   residual sugar  34 non-null     float64
 2   pH              34 non-null     float64
 3   sulphates       34 non-null     float64
 4   alcohol         34 non-null     float64
dtypes: float64(5)
memory usage: 1.6 KB
None
      type
42       0
215      0
454      0
530      0
547      1
577      1
598      0
707      0
735      1
811      0
841      0
909      0
1121     1
1156     0
1179     0
1258     0
1277     0
1391     0
1407     0
1409     0
1528     0
1536     0
1561     0
1573     0
1845     0
1951     0
1963     0
2321     0
2331     1
2422     0
2686     0
2750     0
2874     0
3116     0
<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, 6 to 3152
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     54 non-null     float64
 1   residual sugar  54 non-null     float64
 2   pH              54 non-null     float64
 3   sulphates       54 non-null     float64
 4   alcohol         54 non-null     float64
dtypes: float64(5)
memory usage: 2.5 KB
None
      type
6        0
43       0
120      0
133      1
186      0
374      0
383      0
395      1
416      1
423      0
554      0
683      0
684      0
733      1
763      1
973      1
1022     0
1043     0
1141     0
1154     0
1160     1
1165     0
1236     0
1384     1
1411     1
1442     0
1485     0
1640     0
1697     0
1828     1
1835     1
2045     1
2095     0
2099     0
2105     0
2123     1
2135     1
2137     0
2192     0
2251     1
2276     1
2300     1
2700     0
2804     0
2814     1
2848     0
2850     1
2857     0
2991     0
3028     0
3085     0
3105     1
3112     1
3152     1
[0.06177526 0.02051027 0.02389703 0.08901752 0.01321445]
<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 43 to 3085
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     26 non-null     float64
 1   residual sugar  26 non-null     float64
 2   pH              26 non-null     float64
 3   sulphates       26 non-null     float64
 4   alcohol         26 non-null     float64
dtypes: float64(5)
memory usage: 1.2 KB
None
      type
43       0
120      0
374      0
383      0
423      0
683      0
763      1
973      1
1043     0
1165     0
1411     1
1485     0
1640     0
1697     0
2045     1
2095     0
2099     0
2105     0
2123     1
2137     0
2192     0
2700     0
2850     1
2857     0
3028     0
3085     0
[0.05426014 0.03692796 0.01195349 0.02441292 0.00128556]
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 43 to 2123
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     7 non-null      float64
 1   residual sugar  7 non-null      float64
 2   pH              7 non-null      float64
 3   sulphates       7 non-null      float64
 4   alcohol         7 non-null      float64
dtypes: float64(5)
memory usage: 336.0 bytes
None
      type
43       0
374      0
973      1
1043     0
1411     1
1485     0
2123     1
<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 120 to 3085
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     19 non-null     float64
 1   residual sugar  19 non-null     float64
 2   pH              19 non-null     float64
 3   sulphates       19 non-null     float64
 4   alcohol         19 non-null     float64
dtypes: float64(5)
memory usage: 912.0 bytes
None
      type
120      0
383      0
423      0
683      0
763      1
1165     0
1640     0
1697     0
2045     1
2095     0
2099     0
2105     0
2137     0
2192     0
2700     0
2850     1
2857     0
3028     0
3085     0
<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, 6 to 3152
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     28 non-null     float64
 1   residual sugar  28 non-null     float64
 2   pH              28 non-null     float64
 3   sulphates       28 non-null     float64
 4   alcohol         28 non-null     float64
dtypes: float64(5)
memory usage: 1.3 KB
None
      type
6        0
133      1
186      0
395      1
416      1
554      0
684      0
733      1
1022     0
1141     0
1154     0
1160     1
1236     0
1384     1
1442     0
1828     1
1835     1
2135     1
2251     1
2276     1
2300     1
2804     0
2814     1
2848     0
2991     0
3105     1
3112     1
3152     1
[0.04749944 0.02024421 0.03098191 0.14028753 0.02602536]
<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 6 to 2991
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     14 non-null     float64
 1   residual sugar  14 non-null     float64
 2   pH              14 non-null     float64
 3   sulphates       14 non-null     float64
 4   alcohol         14 non-null     float64
dtypes: float64(5)
memory usage: 672.0 bytes
None
      type
6        0
133      1
416      1
554      0
684      0
1022     0
1141     0
1154     0
1236     0
1835     1
2300     1
2814     1
2848     0
2991     0
[0.10224356 0.1518355  0.01611161 0.         0.00133974]
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 6 to 2991
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     7 non-null      float64
 1   residual sugar  7 non-null      float64
 2   pH              7 non-null      float64
 3   sulphates       7 non-null      float64
 4   alcohol         7 non-null      float64
dtypes: float64(5)
memory usage: 336.0 bytes
None
      type
6        0
554      0
1022     0
1141     0
2300     1
2848     0
2991     0
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 133 to 2814
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     7 non-null      float64
 1   residual sugar  7 non-null      float64
 2   pH              7 non-null      float64
 3   sulphates       7 non-null      float64
 4   alcohol         7 non-null      float64
dtypes: float64(5)
memory usage: 336.0 bytes
None
      type
133      1
416      1
684      0
1154     0
1236     0
1835     1
2814     1
<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 186 to 3152
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     14 non-null     float64
 1   residual sugar  14 non-null     float64
 2   pH              14 non-null     float64
 3   sulphates       14 non-null     float64
 4   alcohol         14 non-null     float64
dtypes: float64(5)
memory usage: 672.0 bytes
None
      type
186      0
395      1
733      1
1160     1
1384     1
1442     0
1828     1
2135     1
2251     1
2276     1
2804     0
3105     1
3112     1
3152     1
[0.00742672 0.12888412 0.04543165 0.         0.00213858]
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 186 to 3152
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     10 non-null     float64
 1   residual sugar  10 non-null     float64
 2   pH              10 non-null     float64
 3   sulphates       10 non-null     float64
 4   alcohol         10 non-null     float64
dtypes: float64(5)
memory usage: 480.0 bytes
None
      type
186      0
395      1
733      1
1160     1
1384     1
1828     1
2135     1
2276     1
3105     1
3152     1
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 1442 to 3112
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     4 non-null      float64
 1   residual sugar  4 non-null      float64
 2   pH              4 non-null      float64
 3   sulphates       4 non-null      float64
 4   alcohol         4 non-null      float64
dtypes: float64(5)
memory usage: 192.0 bytes
None
      type
1442     0
2251     1
2804     0
3112     1
<class 'pandas.core.frame.DataFrame'>
Index: 135 entries, 21 to 3191
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     135 non-null    float64
 1   residual sugar  135 non-null    float64
 2   pH              135 non-null    float64
 3   sulphates       135 non-null    float64
 4   alcohol         135 non-null    float64
dtypes: float64(5)
memory usage: 6.3 KB
None
      type
21       1
32       1
45       1
61       0
76       1
...    ...
2951     1
2965     0
2988     1
3119     1
3191     0

[135 rows x 1 columns]
[0.16037008 0.00237244 0.01313743 0.0005551  0.0178844 ]
<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 32 to 3119
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     70 non-null     float64
 1   residual sugar  70 non-null     float64
 2   pH              70 non-null     float64
 3   sulphates       70 non-null     float64
 4   alcohol         70 non-null     float64
dtypes: float64(5)
memory usage: 3.3 KB
None
      type
32       1
45       1
76       1
77       1
111      1
...    ...
2839     1
2867     1
2873     1
2988     1
3119     1

[70 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 21 to 3191
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     65 non-null     float64
 1   residual sugar  65 non-null     float64
 2   pH              65 non-null     float64
 3   sulphates       65 non-null     float64
 4   alcohol         65 non-null     float64
dtypes: float64(5)
memory usage: 3.0 KB
None
      type
21       1
61       0
90       1
99       0
189      1
...    ...
2864     0
2945     0
2951     1
2965     0
3191     0

[65 rows x 1 columns]
[0.0076669  0.00232233 0.02762937 0.00140909 0.02374262]
<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 61 to 2965
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     31 non-null     float64
 1   residual sugar  31 non-null     float64
 2   pH              31 non-null     float64
 3   sulphates       31 non-null     float64
 4   alcohol         31 non-null     float64
dtypes: float64(5)
memory usage: 1.5 KB
None
      type
61       0
213      0
250      1
362      0
442      1
515      1
558      1
855      1
927      1
1320     1
1372     0
1476     1
1499     0
1621     0
1629     1
1723     0
1757     0
2027     1
2055     0
2186     0
2346     1
2398     0
2401     1
2517     1
2609     0
2651     0
2737     1
2755     0
2780     0
2951     1
2965     0
[0.00663425 0.00136756 0.15390138 0.01913798 0.06094767]
<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 362 to 2965
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     11 non-null     float64
 1   residual sugar  11 non-null     float64
 2   pH              11 non-null     float64
 3   sulphates       11 non-null     float64
 4   alcohol         11 non-null     float64
dtypes: float64(5)
memory usage: 528.0 bytes
None
      type
362      0
1372     0
1499     0
1621     0
1629     1
1723     0
2055     0
2651     0
2737     1
2780     0
2965     0
<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 61 to 2951
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     20 non-null     float64
 1   residual sugar  20 non-null     float64
 2   pH              20 non-null     float64
 3   sulphates       20 non-null     float64
 4   alcohol         20 non-null     float64
dtypes: float64(5)
memory usage: 960.0 bytes
None
      type
61       0
213      0
250      1
442      1
515      1
558      1
855      1
927      1
1320     1
1476     1
1757     0
2027     1
2186     0
2346     1
2398     0
2401     1
2517     1
2609     0
2755     0
2951     1
[0.16088519 0.01041864 0.11186269 0.04730118 0.02314081]
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 442 to 2755
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     9 non-null      float64
 1   residual sugar  9 non-null      float64
 2   pH              9 non-null      float64
 3   sulphates       9 non-null      float64
 4   alcohol         9 non-null      float64
dtypes: float64(5)
memory usage: 432.0 bytes
None
      type
442      1
515      1
558      1
855      1
927      1
1320     1
2401     1
2517     1
2755     0
<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 61 to 2951
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     11 non-null     float64
 1   residual sugar  11 non-null     float64
 2   pH              11 non-null     float64
 3   sulphates       11 non-null     float64
 4   alcohol         11 non-null     float64
dtypes: float64(5)
memory usage: 528.0 bytes
None
      type
61       0
213      0
250      1
1476     1
1757     0
2027     1
2186     0
2346     1
2398     0
2609     0
2951     1
[0.00723449 0.07205663 0.14976144 0.07205663 0.0518004 ]
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 213 to 2951
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     7 non-null      float64
 1   residual sugar  7 non-null      float64
 2   pH              7 non-null      float64
 3   sulphates       7 non-null      float64
 4   alcohol         7 non-null      float64
dtypes: float64(5)
memory usage: 336.0 bytes
None
      type
213      0
1757     0
2186     0
2346     1
2398     0
2609     0
2951     1
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 61 to 2027
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     4 non-null      float64
 1   residual sugar  4 non-null      float64
 2   pH              4 non-null      float64
 3   sulphates       4 non-null      float64
 4   alcohol         4 non-null      float64
dtypes: float64(5)
memory usage: 192.0 bytes
None
      type
61       0
250      1
1476     1
2027     1
<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 21 to 3191
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     34 non-null     float64
 1   residual sugar  34 non-null     float64
 2   pH              34 non-null     float64
 3   sulphates       34 non-null     float64
 4   alcohol         34 non-null     float64
dtypes: float64(5)
memory usage: 1.6 KB
None
      type
21       1
90       1
99       0
189      1
193      1
381      1
385      1
823      1
876      0
921      1
994      1
1034     1
1270     1
1289     1
1322     1
1357     1
1423     1
1516     0
1714     1
1734     1
1832     1
2005     1
2059     1
2127     0
2322     0
2445     0
2549     1
2560     1
2620     0
2648     1
2675     0
2864     0
2945     0
3191     0
[0.02212843 0.00251059 0.07175006 0.00285413 0.07175006]
<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 21 to 3191
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     20 non-null     float64
 1   residual sugar  20 non-null     float64
 2   pH              20 non-null     float64
 3   sulphates       20 non-null     float64
 4   alcohol         20 non-null     float64
dtypes: float64(5)
memory usage: 960.0 bytes
None
      type
21       1
99       0
189      1
381      1
385      1
823      1
994      1
1034     1
1270     1
1322     1
1423     1
1734     1
1832     1
2005     1
2549     1
2560     1
2648     1
2864     0
2945     0
3191     0
<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 90 to 2675
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----